.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: grey;
}
.footer-icon a{
    font-size: 27px;
    margin: 0.5rem;
}
.footer-icon a .bx{
    padding: 5px;
    color: #fff;
    background-color: #000000;
    border-radius: 50%;
}
.footer-icon a .bx:hover{
    background-color: yellow;
}
.links{
    margin: 1rem 0 1rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: 1rem;
}
.links a:hover{
    color: blue;
}
.footer p{
    text-align: center;
}
